{% extends 'core/base.html' %}

{% block content %}

<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content mbtm">
            <div class="row">
                <div class="col-xl-9 col-lg-9 mx-auto">
                    <div class="bg-faded rounded p-5 forced">
                        <h2 class="section-heading mb-4">
                            Confirmación
                        </h2>

                        <div class="section-content">
                            {% if validlink %}
                                <form action="" method="POST">
                                    <div style="display: none;">
                                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken" />
                                    </div>

                                    <table>
                                        <tr>
                                            <td>
                                                {{ form.new_password1.errors }}
                                                <label for="id_new_password1">
                                                    Nueva contraseña:
                                                </label>
                                            </td>
                                            <td>{{ form.new_password1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form.new_password2.errors }}
                                                <label for="id_new_password2">
                                                    Confirmar contraseña:
                                                </label>
                                            </td>
                                            <td>{{ form.new_password2 }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input 
                                                    type="submit"
                                                    value="Cambiar contraseña"
                                                    class="btn btn-default btn-lg"
                                                />
                                            </td>
                                        </tr>
                                    </table>
                                    <p>
                                        
                                    </p>
                                </form>
                            {% else %}
                                <h1>
                                    !Recuperación de contraseña fallido!
                                </h1>
                                <p>
                                    El link de recuperación de contraseña es invalido, posiblemente ya fue usado.
                                </p>
                                <p>
                                    Porfavor, solicita nuevamente la recurperación de contraseña.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
