{% extends 'core/base.html' %}

{% block content %}

<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content mbtm">
            <div class="row">
                <div class="col-xl-9 col-lg-9 mx-auto">
                    <div class="bg-faded rounded p-5 forced">
                        <h2 class="section-heading mb-4">
                            Recuperar contraseña
                        </h2>

                        <div class="section-content">
                            <form action="" method="POST">
                                {% csrf_token %}

                                <p>Escribe tu correo electrónico</p>

                                {% if form.email.errors %} {{ form.email.errors }}
                                {% endif %}

                                <p>{{ form.email }}</p>

                                <p>
                                    <input 
                                        type="submit"
                                        value="Recuperar contraseña"
                                        class="btn btn-default btn-lg"
                                    />
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
